            
body {
    margin:0 ;
    padding:0;
    background-color:#efeee7;
    color:#333;
    font-style:Georgia,"Times New Roman",Times,serif #333333;
    font-size: 18px;
    line-height: 150%;
     
}


header {
     padding: 20px 0;
     margin: 0;
     margin-bottom: 20px;
     font-size: 28px;
     color: #eee;
     text-align: center;
     background: #333;
}
 
h1 {
     font-size:24px;
}

.container {
        margin:20px;
  }


#main-bio {
    float: left;

} 

#contact-info {
    width: 30%;
    float: left;
}

#bio-image {
    width:200px;
    height:200px;
    margin-right:20px;
    float: left
}

